@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:#3737ea">Welcome</h1>
    <h6>
        <p style="text-align: left;"> <br>
            We're a special interest group(SIG) interested in research in the area of application of Machine Learning and Deep learning into health care.<br><br>
            This page is maintained by research group at <a href="https://www.nitte.edu.in">Nitte (Deemed to be University)</a>.
        </p>
    </h6>
</div>
