@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This page is maintained by research group members at Nitte (Deemed to be University). <br>
    We're a special interest group(SIG) interested in research in the area of application of Machine Learning and Deep learning into health care.</p>
</div>
