@{
    ViewData["Title"] = "Papers";
}
<h3 style="color: rgb(41, 83, 169);">@ViewData["Title"]</h3>

<div>
    <ol>
        <li>Wee, B.F., Sivakumar, S., Lim, K.H. et al. Diabetes detection based on machine learning and deep learning approaches. Multimed Tools Appl 83, 24153–24185 (2024). [<a href="https://doi.org/10.1007/s11042-023-16407-5">pdf</a>]
        </li>
    </ol>
</div>

