@{
    ViewData["Title"] = "Papers";
}
<h3 style="color: rgb(41, 83, 169);">@ViewData["Title"]</h3>

<div>
    <ol>
        <li>
            Wee, B.F., Sivakumar, S., Lim, K.H. et al. Diabetes detection based on machine learning and deep learning approaches. Multimedia Tools and Applications, 24153–24185 (2024). [<a href="https://doi.org/10.1007/s11042-023-16407-5">pdf</a>]
        </li>
        <li>
            Félix Tena, Oscar Garnica, Juan Lanchares, J. Ignacio Hidalgo, A Critical Review of the state-of-the-art on Deep Neural Networks for Blood Glucose Prediction in Patients with Diabetes, arXiv:2109.02178. [<a href="https://doi.org/10.48550/arXiv.2109.02178">pdf</a>]
        </li>
        <li>
            Farida Mohsen, Hamada R. H. Al-Absi, Noha A.Yousri, Nady El Hajj, Zubair Shah, Artificial Intelligence-Based Methods for Precision Medicine: Diabetes Risk Prediction, arXiv preprint arXiv:2305.16346, 2023. [<a href="https://arxiv.org/abs/2305.16346">pdf</a>]
        </li>
        <li>
            Marmik Shrestha, Omar Hisham Alsadoon, Abeer Alsadoon, Thair Al-Dalain, Tarik A. Rashid, P.W.C. Prasad, Ahmad Alrubaie, A novel solution of deep learning for enhanced support vector machine for predicting the onset of type 2 diabetes, Multimedia Tools and Applications, 2022. [<a href="https://doi.org/10.1007/s11042-022-13582-9">pdf</a>]
        </li>
    </ol>
</div>